<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <!-- <a class="brand" href="#">Файловый архив группы СВ</a>-->
      <ul class="nav pull-right">
        <li><a href="javascript:;" data-toggle="collapse" data-target="#navigation_panel">Навигация</a></li>
        <li><a href="#modal_file_upload" data-toggle="modal">Загрузить файл</a></li>
      </ul>
      <div class="span8">
          <form action="#">
            <fieldset>
                <div class="clearfix">
                    <div class="input">
                        <ul id="search-string" class="fake-input" tabindex="1">
                        </ul>
                    </div>
                </div>
            </fieldset>
        </form>
      </div>
      <div class="container"></div>        <!--TODO: bad, bad hack, should be reworked-->
<!--Panel with buttons-->
      <div id="navigation_panel" class="collapse">
        <div class="bs-docs-example span8">
          <a data-toggle="tooltip" title="Курс">
          <select class="selectpicker span2" multiple title='Курс'>
            {{#academicYear}}<option>{{.}}</option>{{/academicYear}}
          </select>
          </a>
          <a data-toggle="tooltip" title="Семестр">
          <select class="selectpicker span2" multiple title='Семестр'>
              {{#semester}}<option>{{.}}</option>{{/semester}}
          </select>
          <a>
          <a data-toggle="tooltip" title="Предмет">
          <select class="selectpicker span2" multiple title='Предмет'>
              {{#subject}}<option>{{.}}</option>{{/subject}}
          </select>
          </a>
          <a data-toggle="tooltip" title="Тип">
          <select class="selectpicker span2" multiple title='Тип'>
              {{#type}}<option>{{.}}</option>{{/type}}
          </select>
          </a>
        </div>
      </div>
<!--End of panel with buttons-->
    </div>
  </div>
</div>
<!--End of navbar-->
<!--Modal window for file uploading dialog-->
<div id="modal_file_upload" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Загрузить файл</h3>
  </div>
  <div class="modal-body">
    <label>Файл</label>
    <div class="input-append input-block-level">
      <input class="span4" id="appendedInputButton" type="file" placeholder="загрузите файл с диска либо вставьте url">
      <button class="btn" type="button">Выбрать</button>
    </div>
    <form>
      <fieldset>
        <label>Название</label>
        <input class="input-block-level" type="text">
      </fieldset>
    </form>
    <label>Аттрибуты файла</label>
        <select class="selectpicker span2" multiple title='Курс'>
          {{#academicYear}}<option>{{.}}</option>{{/academicYear}}
        </select>
        <select class="selectpicker span2" multiple title='Семестр'>
            {{#semester}}<option>{{.}}</option>{{/semester}}
        </select>
        <select class="selectpicker span2" multiple title='Предмет'>
            {{#subject}}<option>{{.}}</option>{{/subject}}
        </select>
        <select class="selectpicker span2" multiple title='Тип'>
            {{#type}}<option>{{.}}</option>{{/type}}
        </select>
    <label>Описание</label>
    <textarea class="input-block-level" rows="5"></textarea>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
    <button class="btn btn-primary">Применить</button>
  </div>
</div>
<!--End of modal window for file uploading-->
<!--Delete file dialog-->
<div id="modal_file_deleting" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">      
  <div class="modal-body">
    <center>
    <strong>Вы действительно хотите удалить этот файл?</strong>
    </center>
    <p>
      <center>
      <button class="btn btn-primary confirm-deleting-file">Да</button>
      <button class="btn" data-dismiss="modal" aria-hidden="true">Нет</button>
      </center>
    </p>
  </div>
</div>
<!--End of deleting dialog-->