      <div class="accordion-group well well-small">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            <strong>Element's name</strong>
          </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse">
          <div class="accordion-inner">
            <dl class="dl-horizontal">
              <dt>Тип файла:</dt>
              <dd>type</dd>
              <dt>Залил:</dt>
              <dd>uploader</dd>
            </dl>
            <p id ="file_description">Description of the file</p>
            <a class="btn btn-danger" href="#modal_file_deleting" data-toggle="modal">Удалить</a>
            </p>
            <div id="vk_comments_number_of_element"></div> <!--should be unique for every block-->
            <script type="text/javascript">
            VK.Widgets.Comments("vk_comments_number_of_element", {limit: 10, width: "800", attach: "*"});
            </script>
          </div>
        </div>
      </div>